@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.agenda {
  background: #041b33;
  font-family: "Open Sans", sans-serif;
}
.sponsors {
  background: #041b33;
  font-family: "Open Sans", sans-serif;
}

.agenda-days {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23ffffff%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 30px) center;
  background-size: 20px;
}

@media (max-width: 768px) {
  .agenda-days {
    background-size: 10px;
    background-position: calc(100% - 15px) center;
  }
}

/* descreption pf the clubs */
.about {
  background-color: #041b33;
  font-family: Open Sans;
}

/*  Hero + nav */
.Main_section{
  min-height: 100vh;
  background: #041b33;
 
}
nav{
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem ;
    font-size: 25px;
}
.nav_list{
  
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    list-style: none;

}

.nav_elem{
  color: #fff;
 
}

.Hero{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
  gap: 2rem;
}
.Hero_title{
  color: #fff;
  font-size: 88px;
  font-weight: 700;
}
.Hero_subtitle{
  color: #fff;
  font-size: 50px;
  font-weight: 200 ;
}
.Hero img{
  width: 128px;
  height: 154px;

  
}
/* ======= counter ======= */
.countdown_container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding-top: 7rem;
}
.countdown_title{
  font-size: 36px;
  font-weight: 400;
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;

  gap: 1.5rem;
}

.day,
.hour,
.minute,
.second {
  font-size:3rem;
}
.secondary{
  opacity: .8;
  font-weight: 100;
  font-size: 18px;
}

/* ======= counter End  ======= */

.Hero_btns{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
  padding-top: 7rem;
}
.know_more_btn {
  align-items: center;
  border: 2px solid #fff;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #fff;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  transition: .3s;

}
.know_more_btn:focus {
  color: #171e29;
}

.know_more_btn:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.Register_btn {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  transition: all .3s;

}

.Register_btn :focus {
  color: #171e29;
}

.Register_btn :hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.arrow_down {
 
  width: 36px;
  height: 36px;
  filter: invert(100%) sepia(1%) saturate(2167%) hue-rotate(299deg) brightness(117%) contrast(100%);
  margin: 0;
  width: 100%;
  margin-top: 3rem;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {

  nav{
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem ;
    font-size: 15px;
}
.Hero_title{
  color: #fff;
  font-size: 55px;
  font-weight: 700;
}
.Hero_subtitle{
  color: #fff;
  font-size: 30px;
  font-weight: 200 ;
}
}


/* =======  Hero + nav End ====== */